
<div class="container">
  <nav class="white  z-depth-0">
    <div class="nav-wrapper">
      <div class="col s12">
        <a routerLink="/home" class=" black-text">Главная</a>
        <span class="black-text"> > </span>
        <a routerLink="/gallery" class=" black-text">Каталог техники</a>
        <span class="black-text"> > </span>
        <a (click)="goBack()" class=" black-text" style="cursor: pointer">Детали</a>
        <span class="black-text"> > </span>
        <a class=" black-text">{{name}}</a>
      </div>
    </div>
  </nav>
</div>

<div class="container">

  <h4>{{name}}</h4>

  <div class="row">
    <div class="col m12 l6">
      <img src={{img}} width="450">
    </div>
    <div class="col m12 l6 center-align">
      <h5>{{price | currency:'RUB '}}</h5>
      <p>{{text}}</p>
      <a routerLink="/contacts" class="waves-effect waves-light btn-large contactBtn">Связаться</a>
    </div>
  </div>


</div>


