<div *ngFor="let d of data">

    <div class="row head">
      <nav class=" had-container z-depth-0 transparent" id="topNav">
        <div class="col s12 m4 xl4">
          <a  routerLink="/glavnaya" class="brand-logo red-text text-accent-4">
            <img src={{d.logo}} class="responsive-img ">
          </a>
        </div>
        <div class="col  m4 xl3 hide-on-med-and-down phone center-align">
          <a href="#" class="valign-wrapper">
            <img src={{d.phoneIcon}} >
            <span>+7 986 777 555</span>
          </a>

        </div>
        <div class="col  m2 xl3 hide-on-med-and-down icons">
              <a href={{d.fbLink}} target="_blank">
                <img src={{d.fbIcon}} alt="Facebook">
              </a>
              <a href={{d.instagramLink}} target="_blank">
                <img src={{d.instagramIcon}} alt="Instagram">
              </a>
              <a href={{d.vkLink}} target="_blank">
                <img src={{d.vkIcon}} alt="VK">
              </a>
        </div>
        <div class="col  m2 xl2 hide-on-med-and-down zakzvonok">
          <button type="button" class="btn z-depth-0">{{d.zakazatZvonok}}</button>
        </div>
      </nav>
    </div>



      <nav class="nav" id="centerNav">
        <div class="nav-wrapper">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="hide-on-med-and-down">
            <li routerLinkActive="active"><a routerLink="/glavnaya">{{d.home | uppercase}}</a></li>
            <li routerLinkActive="active"><a routerLink="/o-nas">{{d.aboutus | uppercase}}</a></li>
            <li routerLinkActive="active"><a routerLink="/katalog">{{d.gallery | uppercase}}</a></li>
            <li routerLinkActive="active"><a routerLink="/uslugi">{{d.services | uppercase}}</a></li>
            <li routerLinkActive="active"><a routerLink="/pricelist">{{d.pricelist | uppercase}}</a></li>
            <li routerLinkActive="active"><a routerLink="/contacts">{{d.contacts | uppercase}}</a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <li><a routerLink="/glavnaya">{{d.home}}</a></li>
        <li><div class="divider"></div></li>
        <li><a routerLink="/o-nas">{{d.aboutus}}</a></li>
        <li><div class="divider"></div></li>
        <li><a routerLink="/katalog">{{d.gallery}}</a></li>
        <li><div class="divider"></div></li>
        <li><a routerLink="/uslugi">{{d.services}}</a></li>
        <li><div class="divider"></div></li>
        <li><a routerLink="/pricelist">{{d.pricelist}}</a></li>
        <li><div class="divider"></div></li>
        <li><a routerLink="/contacts">{{d.contacts}}</a></li>
      </ul>
      <div class="line"></div>



</div>





