
  <nav class="nav">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo left">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/aboutus">About Us</a></li>
        <li routerLinkActive="active"><a routerLink="/gallery">Gallery</a></li>
        <li routerLinkActive="active"><a routerLink="/services">Services</a></li>
        <li routerLinkActive="active"><a routerLink="/pricelist">Price List</a></li>
        <li routerLinkActive="active"><a routerLink="/contacts">Contacts</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/home">Home</a></li>
    <li><a href="badges.html">Abou Us</a></li>
    <li><a href="collapsible.html">Gallery</a></li>
    <li><a href="collapsible.html">Services</a></li>
    <li><a href="collapsible.html">Price List</a></li>
    <li><a href="collapsible.html">Contacts</a></li>
  </ul>
  <div class="line light-blue darken-3"></div>




