
.brand-logo{
  font-size: 50px;
}
#topNav{
  height: 80px;
}
#phoneIcon{
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-right: 10px;
}
.phoneTxt{
  margin-right: 30px;
}
.icons img{
  height: 40px;
  width: 40px;
  margin-right: 10px;
 margin-top: 25px;
}
#centerNav ul{
  min-width: 600px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.sidenav-trigger i{
  height: 30px;
}
nav ul a {
  height: 70px;
  font-size: 18px;
}
nav ul a:hover {
  background-color: #d50000;
}
.active{
  background-color: #d50000;
}
.line{
  width: 100%;
  height: 10px;
}

