<div *ngFor="let i of info">
  <div class="container">
    <nav class="white  z-depth-0">
      <div class="nav-wrapper">
        <div class="col s12">
          <a routerLink="/home" class=" black-text">{{i.homeLinkName}}</a>
          <span class="black-text"> > </span>
          <a routerLink="/gallery" class=" black-text">{{i.galleryLinkName}}</a>
          <span class="black-text"> > </span>
          <a routerLink="/galleryD2" class=" black-text">{{i.galleryDetailsLinkName}}</a>
        </div>
      </div>
    </nav>
  </div>

  <div class="container ">
    <h4 class="yellow-text text-darken-3 left-align main">{{i.mainH4}}</h4>
    <div class="row ">
      <p>{{i.p_1}}</p>
      <div class="col s12 m6 xl4 center-align" *ngFor="let d of data">
        <h5 >{{d.name}}</h5>
        <div class="card">
          <div class="card-image">
            <a routerLink="/details"
               [queryParams]="{name: d.name, img: d.img, text: d.text, price: d.price}">
              <img src={{d.img}}>
            </a>
          </div>
        </div>
        <div class="card-content cars">
          <h6 >{{d.price | currency:'RUB '}}</h6>
          <h5 class="yellow-text text-darken-3">{{d.text}}</h5>
          <table class="responsive-table striped centered">
            <tbody>
            <tr>
              <td>{{d.td1}}</td>
              <td>{{d.td2}}</td>
            </tr>
            <tr>
              <td>{{d.td3}}</td>
              <td>{{d.td4}}</td>
            </tr>
            <tr>
              <td>{{d.td5}}</td>
              <td>{{d.td6}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col s12 xl6">
            <a routerLink="/contacts"  class="waves-effect waves-light btn-large contactBtn">{{i.button_1}}</a>
          </div>
          <div class="col s12 xl6">
            <a routerLink="/details"
               [queryParams]="{name: d.name, img: d.img, text: d.text, price: d.price}"
               class="waves-effect waves-light btn-large detailsBtn">{{i.button_2}}</a>
          </div>
        </div>

      </div>
    </div>


  </div>

</div>
