<div class="container">
  <nav class="white  z-depth-0">
    <div class="nav-wrapper">
      <div class="col s12">
        <a routerLink="/home" class=" black-text">Home</a>
        <span class="black-text"> > </span>
        <a routerLink="/aboutus" class=" black-text">About Us</a>
      </div>
    </div>
  </nav>
</div>

  <div class="container">


    <div class="row">

      <h4 class="red-text text-accent-4 left-align">About Us</h4>
      <div class="col s12 l3 sideNav">
        <ul class="collection with-header ">
          <h4 class="blue-grey darken-4 white-text">First Names</h4>
          <li class="collection-item blue-grey darken-4 white-text">Alvin</li>
          <li class="collection-item blue-grey darken-4 white-text">Alvin</li>
          <li class="collection-item blue-grey darken-4 white-text">Alvin</li>
          <li class="collection-item blue-grey darken-4 white-text">Alvin</li>
          <li class="collection-item blue-grey darken-4 white-text">Alvin</li>
          <li class="collection-item blue-grey darken-4 white-text">Alvin</li>
        </ul>
      </div>

      <div class="col s12 l9">
        <h4 class="center-align">Our Company</h4>
        <div class="divider"></div>
        <h6>Some Title Here 1</h6>
        <p>Lorem ipsum dolor sit amet, cras ultrices lacus lacinia lacus magna, eu sodales eros. Velit suspendisse amet, in feugiat ante vel nam vestibulum enim, nulla iaculis wisi lorem duis urna mollit, vel rutrum at mauris nibh, amet neque dis. Curabitur nulla, orci nam, tristique posuere, pellentesque facilisis.</p>
        <div class="divider"></div>
        <h6>Some Title Here 2</h6>
        <p>Lorem ipsum dolor sit amet, cras ultrices lacus lacinia lacus magna, eu sodales eros. Velit suspendisse amet, in feugiat ante vel nam vestibulum enim, nulla iaculis wisi lorem duis urna mollit, vel rutrum at mauris nibh, amet neque dis. Curabitur nulla, orci nam, tristique posuere, pellentesque facilisis.</p>
        <div class="divider"></div>
        <h6>Some Title Here 2</h6>
        <p>Lorem ipsum dolor sit amet, cras ultrices lacus lacinia lacus magna, eu sodales eros. Velit suspendisse amet, in feugiat ante vel nam vestibulum enim, nulla iaculis wisi lorem duis urna mollit, vel rutrum at mauris nibh, amet neque dis. Curabitur nulla, orci nam, tristique posuere, pellentesque facilisis.</p>
      </div>

    </div>
  </div>

