
.nav-wrapper{
  padding-left: 15px;
}
h4{
  padding: 15px;
}
h4.blue-grey {
  height: 200px;
  margin: 1px;
}
h6 {
  font-weight: 500;
}
ul{
  padding: 5px;
  list-style: square;
}
.sideNav{
  margin-top: 20px;
}
.sideNav li{
  height: 80px;
}
