
<nav class="light-blue darken-3 z-depth-1">
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="#!" class="breadcrumb">Home</a>
      <a href="#!" class="breadcrumb">About Us</a>
    </div>
  </div>
</nav>

<div class="had-container white">
  <div class="container">



    <div class="row">

      <h4 class="light-blue-text text-darken-3 left-align">About Us</h4>
      <div class="col s12 m3">
        <ul class="collection with-header">
          <li class="collection-header"><h4>First Names</h4></li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
        </ul>
      </div>

      <div class="col s12 m9">
        <h4 class="center-align">Our Compani</h4>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet, cras ultrices lacus lacinia lacus magna, eu sodales eros. Velit suspendisse amet, in feugiat ante vel nam vestibulum enim, nulla iaculis wisi lorem duis urna mollit, vel rutrum at mauris nibh, amet neque dis. Curabitur nulla, orci nam, tristique posuere, pellentesque facilisis.</p>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet, cras ultrices lacus lacinia lacus magna, eu sodales eros. Velit suspendisse amet, in feugiat ante vel nam vestibulum enim, nulla iaculis wisi lorem duis urna mollit, vel rutrum at mauris nibh, amet neque dis. Curabitur nulla, orci nam, tristique posuere, pellentesque facilisis.</p>

      </div>

    </div>
  </div>

</div>
