<div *ngFor="let d of data">

  <div class="container">
    <nav class="white  z-depth-0">
      <div class="nav-wrapper">
        <div class="col s12">
          <a routerLink="/home" class=" black-text">{{d.homeLinkName}}</a>
          <span class="black-text"> > </span>
          <a routerLink="/services" class=" black-text">{{d.servicesLinkName}}</a>
        </div>
      </div>
    </nav>
  </div>


  <div class="container">

    <div class="row">

      <h4 class="yellow-text text-darken-3 left-align">{{d.mainH4}}</h4>


      <div class="col s12 m12">
        <h4 class="center-align">{{d.contentH4}}</h4>
        <div class="divider"></div>
        <p>{{d.P_1}}</p>
        <div class="divider"></div>
        <p>{{d.P_2}}</p>
        <div class="divider"></div>
        <p>{{d.P_3}}</p>
        <div class="divider"></div>
        <p>{{d.P_4}}</p>
      </div>

    </div>
  </div>



</div>
