
<nav class="light-blue darken-3 z-depth-0">
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="#!" class="breadcrumb">Home</a>
      <a href="#!" class="breadcrumb">Price List</a>
    </div>
  </div>
</nav>


<div class="had-container white">
  <div class="container">
    <div class="row">
      <h4 class="light-blue-text text-darken-3 left-align">About Us</h4>

      <table class="responsive-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
        <tr>
          <td>Alan</td>
          <td>Jellybean</td>
          <td>$3.76</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td>Lollipop</td>
          <td>$7.00</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td>Lollipop</td>
          <td>$7.00</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td>Lollipop</td>
          <td>$7.00</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
