.carousel{
  max-height: 550px !important;
}
.carousel a.carousel-item img{
  max-height: 550px !important;
}

.firstH4{
  color: #f9a825;
  margin-top: 50px;
}
div.hoverable{
  margin-top: 10px;
}
.redline{
  height: 8px;
}
#hoverableImg{
  min-height: 160px;
  opacity: 1.1;
}
#hoverableImg:hover{
  opacity: 0;
}
.gallery{
  min-height: 270px;
  font-weight: bold;
  border-bottom: 2px solid #f9a825;
}
.gallery h6{
  color: #212121 !important;
}
.gallery:hover{
  border-bottom:2px solid #212121;
}
.gallery:hover h6{
  color: #f9a825 !important;
}
.secondCards{
  height: 380px;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  color: black;
  border-bottom: 8px solid #f9a825;
}
.secondCards:hover{
  border-bottom: 8px solid #212121;
}
.secondCards:hover h5{
  color: #f9a825 !important;
}
.thirdCards{
  border-bottom: 8px solid #212121;
}
.thirdCards h6{
  font-size: 22px;
  color: #f9a825 !important;
}
.thirdCards:hover{
  color: #212121 !important;
  border-bottom: 8px solid #f9a825;
}
.thirdCards:hover h6{
  color: #212121 !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator{
  position:absolute;
  top:40%;
}
.middle-indicator-text{
  font-size: 7.2rem;
}
a.middle-indicator-text{
  color:white !important;
}
.content-indicator{
  width: 104px;
  height: 104px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
