
<span *ngFor="let d of data">

    <div class="container transparent">

        <div class="carousel carousel-slider hide-on-small-only">
          <a class="carousel-item" href="#"><img class="responsive-img" src={{d.sImg1}}></a>
          <a class="carousel-item" href="#"><img  class="responsive-img" src={{d.sImg2}}></a>
          <a class="carousel-item" href="#"><img class="responsive-img" src={{d.sImg3}}></a>
          <a class="carousel-item" href="#"><img  class="responsive-img" src={{d.sImg4}}></a>
        </div>

      <h4 class="header red-text text-accent-4 center-align firstH4">{{d.h4_1}}</h4>
    <div class="row center-align " *ngFor="let gd of galleryData">

      <div class="col s12 m4 ">
        <a routerLink="/galleryD">
          <div class="card">
            <div class="card-image">
              <img src={{gd.img1}}>
            </div>
          </div>
          <div class="card-content cars">
            <h5>{{gd.name1}}</h5>
          </div>
        </a>
      </div>
      <div class="col s12 m4 ">
        <a routerLink="/galleryD2">
          <div class="card">
            <div class="card-image">
              <img src={{gd.img2}}>
            </div>
          </div>
          <div class="card-content cars">
            <h5>{{gd.name2}}</h5>
          </div>
        </a>
      </div>
      <div class="col s12 m4 ">
        <a routerLink="/galleryD3">
          <div class="card">
            <div class="card-image">
              <img src={{gd.img3}}>
            </div>
          </div>
          <div class="card-content cars">
            <h5>{{gd.name3}}</h5>
          </div>
        </a>
      </div>
      <div class="col s12 m4 ">
        <a routerLink="/galleryD4">
          <div class="card">
            <div class="card-image">
              <img src={{gd.img4}}>
            </div>
          </div>
          <div class="card-content cars">
            <h5>{{gd.name4}}</h5>
          </div>
        </a>
      </div>
      <div class="col s12 m4 ">
        <a routerLink="/galleryD5">
          <div class="card">
            <div class="card-image">
              <img src={{gd.img5}}>
            </div>
          </div>
          <div class="card-content cars">
            <h5>{{gd.name5}}</h5>
          </div>
        </a>
      </div>
      <div class="col s12 m4 ">
        <a routerLink="/galleryD6">
          <div class="card">
            <div class="card-image">
              <img src={{gd.img6}}>
            </div>
          </div>
          <div class="card-content cars">
            <h5>{{gd.name6}}</h5>
          </div>
        </a>
      </div>
      <div class="col s12 m4 ">
        <a routerLink="/galleryD7">
          <div class="card">
            <div class="card-image">
              <img src={{gd.img7}}>
            </div>
          </div>
          <div class="card-content cars">
            <h5 >{{gd.name7}}</h5>
          </div>
        </a>
      </div>
      <div class="col s12 m4 ">
        <a routerLink="/galleryD8">
          <div class="card">
            <div class="card-image">
              <img src={{gd.img8}}>
            </div>
          </div>
          <div class="card-content cars">
            <h5 >{{gd.name8}}</h5>
          </div>
        </a>
      </div>
      <div class="col s12 m4">
        <a routerLink="/galleryD9">
          <div class="card">
            <div class="card-image">
              <img src={{gd.img9}}>
            </div>
          </div>
          <div class="card-content cars">
            <h5 >{{gd.name9}}</h5>
          </div>
        </a>
      </div>

    </div>

      <div class="redline red accent-4"></div>
      <h4 class="header red-text text-accent-4 center-align">{{d.h4_2}}</h4>

        <div class="row center-align">
          <div class="col s12 m4 ">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.cardImg1}}>
                </div>
              </div>
              <div class="card-content secondCards">
                <h5 class="black-text">{{d.h5_1}}</h5>
              </div>
            </a>
          </div>
          <div class="col s12 m4 ">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.cardImg2}}>
                </div>
              </div>
              <div class="card-content secondCards">
                <h5 class="black-text">{{d.h5_2}}</h5>
              </div>
            </a>
          </div>
          <div class="col s12 m4 ">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.cardImg3}}>
                </div>
              </div>
              <div class="card-content secondCards">
                <h5 class="black-text">{{d.h5_3}}</h5>
              </div>
            </a>
          </div>
        </div>


      <div class="redline red accent-4"></div>
      <h4 class="header red-text text-accent-4 center-align">{{d.h4_3}}</h4>

        <div class="row center-align">

          <div class="col s6 m2 hoverable">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.smallImg1}}>
                </div>
              </div>
            </a>
          </div>
          <div class="col s6 m2 hoverable">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.smallImg2}}>
                </div>
              </div>
            </a>
          </div>
          <div class="col s6 m2 hoverable">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.smallImg3}}>
                </div>
              </div>
            </a>
          </div>
          <div class="col s6 m2 hoverable">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.smallImg4}}>
                </div>
              </div>
            </a>
          </div>
          <div class="col s6 m2 hoverable">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.smallImg5}}>
                </div>
              </div>
            </a>
          </div>
          <div class="col s6 m2 hoverable">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.smallImg6}}>
                </div>
              </div>
            </a>
          </div>

      </div>

    <div class="redline red accent-4"></div>
    <h4 class="header red-text text-accent-4 center-align">{{d.h4_4}}</h4>

      <div class="row center-align">
        <div class="col s12 m3 hoverable">
          <a href="#">
            <div class="card">
              <div class="card-image">
                <img src={{d.lastCardImg1}}>
              </div>
            </div>
            <div class="card-content thirdCards">
              <h5>{{d.lastH5_1}}</h5>
              <p class="black-text">{{d.lastP1}}</p>
            </div>
          </a>
        </div>
        <div class="col s12 m3 hoverable">
          <a href="#">
            <div class="card">
              <div class="card-image">
                <img src={{d.lastCardImg2}}>
              </div>
            </div>
            <div class="card-content thirdCards">
              <h5>{{d.lastH5_2}}</h5>
              <p class="black-text">{{d.lastP2}}</p>
            </div>
          </a>
        </div>
        <div class="col s12 m3 hoverable">
          <a href="#">
            <div class="card">
              <div class="card-image">
                <img src={{d.lastCardImg3}}>
              </div>
            </div>
            <div class="card-content thirdCards">
              <h5>{{d.lastH5_3}}</h5>
              <p class="black-text">{{d.lastP3}}</p>
            </div>
          </a>
        </div>
        <div class="col s12 m3 hoverable">
          <a href="#">
            <div class="card">
              <div class="card-image">
                <img src={{d.lastCardImg4}}>
              </div>
            </div>
            <div class="card-content thirdCards">
              <h5>{{d.lastH5_4}}</h5>
              <p class="black-text">{{d.lastP4}}</p>
            </div>
          </a>
        </div>

      </div>

</div>
</span>


