
<div *ngFor="let d of data">

    <div class="container transparent">
      <!--Sliders-->
        <div class="carousel carousel-slider hide-on-small-only " data-indicators="true">
          <div class="carousel-fixed-item center middle-indicator">
            <div class="left">
              <a href="#" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator">
                <i class="material-icons left  middle-indicator-text">chevron_left</i>
              </a>
            </div>

            <div class="right">
              <a href="#" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator">
                <i class="material-icons right middle-indicator-text">chevron_right</i>
              </a>
            </div>
          </div>
          <a class="carousel-item" href="#"><img class="responsive-img" src={{d.sImg1}}></a>
          <a class="carousel-item" href="#"><img  class="responsive-img" src={{d.sImg2}}></a>
          <a class="carousel-item" href="#"><img class="responsive-img" src={{d.sImg3}}></a>
          <a class="carousel-item" href="#"><img  class="responsive-img" src={{d.sImg4}}></a>
        </div>

      <!--Main Content-->
      <h4 class="header red-text text-accent-4 center-align firstH4">{{d.h4_1}}</h4>
    <div class="row center-align " >

      <div class="col s12 m4" *ngFor="let gd of galleryData">
        <a routerLink={{gd.link}}>
          <div class="card">
            <div class="card-image">
              <img src={{gd.img}}>
            </div>
          </div>
          <div class="card-content cars">
            <h5>{{gd.name}}</h5>
          </div>
        </a>
      </div>

    </div>

      <div class="redline red accent-4"></div>
      <h4 class="header red-text text-accent-4 center-align">{{d.h4_2}}</h4>

        <div class="row center-align">
          <div class="col s12 m4 ">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.cardImg1}}>
                </div>
              </div>
              <div class="card-content secondCards">
                <h5 class="black-text">{{d.h5_1}}</h5>
              </div>
            </a>
          </div>
          <div class="col s12 m4 ">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.cardImg2}}>
                </div>
              </div>
              <div class="card-content secondCards">
                <h5 class="black-text">{{d.h5_2}}</h5>
              </div>
            </a>
          </div>
          <div class="col s12 m4 ">
            <a href="#">
              <div class="card">
                <div class="card-image">
                  <img src={{d.cardImg3}}>
                </div>
              </div>
              <div class="card-content secondCards">
                <h5 class="black-text">{{d.h5_3}}</h5>
              </div>
            </a>
          </div>
        </div>


      <div class="redline red accent-4"></div>
      <h4 class="header red-text text-accent-4 center-align">{{d.h4_3}}</h4>

        <div class="row center-align">

          <div class="col s6 m2 hoverable">
              <div class="card">
                <div class="card-image">
                  <img class="materialboxed" src={{d.smallImg1}}>
                </div>
              </div>
          </div>
          <div class="col s6 m2 hoverable">
              <div class="card">
                <div class="card-image">
                  <img class="materialboxed" src={{d.smallImg2}}>
                </div>
              </div>
          </div>
          <div class="col s6 m2 hoverable">

              <div class="card">
                <div class="card-image">
                  <img class="materialboxed" src={{d.smallImg3}}>
                </div>
              </div>

          </div>
          <div class="col s6 m2 hoverable">

              <div class="card">
                <div class="card-image">
                  <img class="materialboxed" src={{d.smallImg4}}>
                </div>
              </div>

          </div>
          <div class="col s6 m2 hoverable">

              <div class="card">
                <div class="card-image">
                  <img class="materialboxed" src={{d.smallImg5}}>
                </div>
              </div>

          </div>
          <div class="col s6 m2 hoverable">

              <div class="card">
                <div class="card-image">
                  <img class="materialboxed" src={{d.smallImg6}}>
                </div>
              </div>

          </div>

      </div>

    <div class="redline red accent-4"></div>
    <h4 class="header red-text text-accent-4 center-align">{{d.h4_4}}</h4>

      <div class="row center-align">
        <div class="col s12 m3 ">
          <a href="#">
            <div class="card">
              <div class="card-image">
                <img src={{d.lastCardImg1}}>
              </div>
            </div>
            <div class="card-content thirdCards">
              <h5>{{d.lastH5_1}}</h5>
              <p class="black-text">{{d.lastP1}}</p>
            </div>
          </a>
        </div>
        <div class="col s12 m3 ">
          <a href="#">
            <div class="card">
              <div class="card-image">
                <img src={{d.lastCardImg2}}>
              </div>
            </div>
            <div class="card-content thirdCards">
              <h5>{{d.lastH5_2}}</h5>
              <p class="black-text">{{d.lastP2}}</p>
            </div>
          </a>
        </div>
        <div class="col s12 m3 ">
          <a href="#">
            <div class="card">
              <div class="card-image">
                <img src={{d.lastCardImg3}}>
              </div>
            </div>
            <div class="card-content thirdCards">
              <h5>{{d.lastH5_3}}</h5>
              <p class="black-text">{{d.lastP3}}</p>
            </div>
          </a>
        </div>
        <div class="col s12 m3 ">
          <a href="#">
            <div class="card">
              <div class="card-image">
                <img src={{d.lastCardImg4}}>
              </div>
            </div>
            <div class="card-content thirdCards">
              <h5>{{d.lastH5_4}}</h5>
              <p class="black-text">{{d.lastP4}}</p>
            </div>
          </a>
        </div>

      </div>

</div>
</div>


